name: Build selected Dockerfile

on:
  workflow_dispatch:
    inputs:
      adapter:
        description: "adapter to build"
        required: true
        type: choice
        options:
          - postgres
          - snowflake
          - clickhouse
      core-and-adapter-versions:
        description: "Format like the dockerfiles {core-version}-{adapter-version}"
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  BASE_IMAGE_NAME: narrowstack/dbt-core-docker/base

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push base
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./BuilderBase.Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.BASE_IMAGE_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.BASE_IMAGE_NAME }}:latest
          cache-to: type=inline

      - name: Build & push ${{ github.event.inputs.adapter }}:${{ github.event.inputs.core-and-adapter-versions }}
        uses: docker/build-push-action@v5
        with:
          context: ./${{ github.event.inputs.adapter }}
          file: ${{ github.event.inputs.core-and-adapter-versions }}.Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/narrowstack/dbt-core-docker/${{ github.event.inputs.adapter }}:${{ github.event.inputs.core-and-adapter-versions }}
          cache-from: |
            type=registry,ref=${{ env.REGISTRY }}/narrowstack/dbt-core-docker/${{ github.event.inputs.adapter }}:${{ github.event.inputs.core-and-adapter-versions }}
            type=registry,ref=${{ env.REGISTRY }}/${{ env.BASE_IMAGE_NAME }}:latest
          cache-to: type=inline
